@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto+Mono&display=swap');
html body {
  text-align: center;
  background: #effdd3;
  color: #7b877c;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

.container {
  width: 700px;
  margin: 40px auto;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #89c4c4;
  font-size: 32px;
  font-weight: 900;
}

#introduction p {
  margin-bottom: 40px;
}

img {
  display: block;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.btn-blue{
    background-color: #b5dcf1;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
}

.btn-blue:hover {
  background-color: white;
  color: black;
}

.card-white {
    background-color: #e6ff30;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 180px;
    text-align: center;
    background-image: url("");
}

.container {
    width: 700px;
    margin: 40px auto;
}

.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: grey;
}
.menu a{
    font-weight: bold;
    text-decoration: ;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: grey;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    color: black;
}

.fa-github-square::before {
    content: "\f092";
}
